{% extends "base.html" %}

{% block title %}xchng{% endblock %}

{% block head %}
{{ super() }}
{{ gmap.js }}
{% endblock %}

{% block content %}
<div class="col-md-8">
{{ gmap.html }}
</div>
<div class="col-md-4">
  <table class="table table-hover">
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Expires in</th>
      <th></th>
    </thead>
    <tbody>
    {% for offer in offers %}
      <tr>
        <td>{{ offer.currency_from }}</td>
        <td>{{ offer.currency_to }}</td>
        <td>{{ offer.amount }}</td>
        <td>{{ moment(offer.expires).fromNow() }}</td>
        <td>
            <a href="{{ url_for('main.propose_offer', offer_id=offer.id) }}">accept offer</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
