{% extends "bootstrap/base.html" %}

{% block title %}Want to Trade{% endblock %}

{% block head %}
{{ super() }}
{{ gmap.js }}
{% endblock %}

{% block content %}
<div class="col-md-8">
{{ gmap.html }}
</div>
<div class="col-md-4">
  <table class="table table-hover">
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
    </thead>
    <tbody>
    {% for offer in offers %}
      <tr>
        <td>{{ offer.currency_from }}</td>
        <td>{{ offer.currency_to }}</td>
        <td>{{ offer.amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
